* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1283px;
  margin: auto;
}

.page-name {
  color: black;
  font-size: 80px;
  font-weight: 400;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  text-align: center;
}

h1 span {
  color: #4bcaff;
}

.header-nav {
  width: 1283px;
  height: 72px;
  background-color: #35444f;
  display: flex;
}

.header-ramda-list {
  flex-direction: row;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  width: 100%;
  padding-left: 162px;
  padding-right: 162px;
}

.header-item {
  border-left: 1px solid #ffffff;
  padding: 26px 32px 19px;
  text-align: center;
  transition: 0.3s;
  flex-grow: 1;
}

.header-item:hover {
  background-color: #222f3a;
}

.header-item:last-child {
  border-right: 1px solid #ffffff;
}

header a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
}

.main-ramda {
  background-color: #ffffff;
}

.section-main {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.main-ramda-list {
  flex-direction: column;
  width: 344px;
  display: flex;
  list-style: none;
  max-height: 404px;
  justify-content: flex-start;
  border: 1px solid #000000;
}

.main-item {
  transition: 0.3s;
  flex-grow: 1;
  padding-top: 26px;
  padding-bottom: 27px;
  padding-left: 44px;
}

.main-item:hover {
  padding-left: 0;
  background-color: #dbdbdb;
  text-align: center;
}

.main-item:hover a {
  color: #35444f;
}

.main-item a {
  text-decoration: none;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
}

article {
  display: flex;
  flex-direction: column;
  max-width: 885px;
}

article p {
  padding-top: 37px;
}

article img {
  width: 320px;
  height: 381px;
}

article div {
  height: 529px;
  border: 1px solid #000000;
  padding: 75px 268px 73px 297px;
}

.footer-ramda {
  background: #63696e7a;
  margin-top: 54px;
  margin-bottom: 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 59px;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.list-footer {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
}

.footer-item {
  padding-right: 44px;
}

.footer-item:last-child {
  padding-right: 0;
}

.footer-item a {
  font-size: 24px;
  line-height: 24px;
  color: #0c1927;
  text-decoration: none;
  transition: 0.3s;
}

.footer-item:hover a {
  color: #3181a6;
}

.p-footer {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
